*{
    margin: 0px;
}
.top{
    height: 100px;
    width: 100%;
    background-color: green;
    display: flex;
}


.body{
    height: 900px;
    width: 100%;
    background-color: red;
}
ul{
    list-style: none;
    margin-left: 400px;
    display: flex;

}

ul li{
    margin-right: 70px;
    
    color: rgba(0, 0, 0, 0.614);
}

#login{
    width: 110px;
    height: 30px;
    background-color: rgb(238, 88, 158);
    border: none;
    border-radius: 20px;

}



#dp{
    width: 20px;
    height: 20px;
}