{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/mydata.css' %}">

</head>


<body>

    <div class="top">
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="new"><li>Build Resume</li></a>
            <a href="templ"><li>Template</li></a>
            <li>Contact</li>
        </ul>
    </div>
    <h1 id="note">Please make sure to have only one data Table and delete all others to avoid errors</h1>
    <div class="bottom">
        {%if user.is_authenticated%}
        {%for person in persons%}
        {%if person.username == user.username %}


        <table class="list">

            <tr>
                <th>Name</th>
                <td>{{person.name}}</td>
            </tr>
            <tr>
                <th>Post</th>
                <td>{{person.post}}</td>
            </tr>
            <tr>
                <th>Work Experience 1</th>
                <td>{{person.we1}}</td>
            </tr>
            <tr>
                <th>Description 1</th>
                <td>{{person.des1}}</td>
            </tr>
            <tr>
                <th>Work Experience 2</th>
                <td>{{person.we2}}</td>
            </tr>
            <tr>
                <th>Work Description 2</th>
                <td>{{person.des2}}</td>
            </tr>
            <tr>
                <th>Work Experience 3</th>
                <td>{{person.we3}}</td>
            </tr>
            <tr>
                <th>Description 3</th>
                <td>{{person.des3}}</td>
            </tr>
            <tr>
                <th>Education</th>
                <td>{{person.eq}}</td>
            </tr>
        </table>
    
        <a href="delete/{{person.id}}"><h1 id="del">Delete the above</h1></a>
        {%endif%}
        {%endfor%}
        {%endif%}
    </div>

</body>
</html>